<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>증권사 레포트 리스트</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="title" onclick="location.href='/'">🏠증권사 레포트 리스트</div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-panel">
            <div class="menu-title">메뉴</div>
            <a class="menu-item" href="/">최근 게시된 레포트</a>
            <a class="menu-item" href="/report/daily_group">일자별 레포트</a>
        </div>
    </header>
    <div class="subtitle">현재 메뉴: {{subtitle}}</div>
    <div class="container">
        {% for date, firms in grouped_reports.items() %}
        <div class="date-group">
            <div class="date-title">{{ date }}</div>
            {% for firm, reports in firms.items() %}
            <div class="company-group">
                <div class="company-title">{{ firm }}</div>
                {% for report in reports %}
                <div class="report" onclick="openLink('{{ report.link }}')">
                    <a href="{{ report.link }}" target="_blank">{{ report.title }}</a>
                    <p>작성자: {{ report.writer }}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
